@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    
}

:root {
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-lavender);
}
main{
    height: 500px;
    width:700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    margin: 5px;
    background-color: var(--white);
}
.left-side{
    width: 50%;
    height: 100%;
    border-radius: 25px;
    background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.left-side h3{
    color: var(--light-lavender);
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.score{
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom, var(--violet-blue), var(--persian-blue));
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-lavender);
}
.score h1{
    font-size: 3rem;
    color: var(--white);
}
.left-side h2{
    font-weight: 500;
    margin-top: 1rem;
}
.left-side p{
    width: 250px;
    color: var(--light-lavender);
    text-align: center;
    margin-top: 1rem;
    font-size: 1.1rem;
}
.right-side{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.right-side h3{
    margin: 1.5rem;
}
.right-side .scores{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.right-side .mini-score{
    width: 280px;
    display: flex;
    flex-direction: raw;
    align-items: center; 
    justify-content: space-between;
    border-radius: 10px;
    padding: .75rem;
   margin: .3rem;
}
.gap-1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.mini-score span{
    color: var(--light-lavender);
}
span b{
color: black;
}
.reaction{
    color: var(--light-red);
    font-weight: bold;
    background-color: hsla(0, 100%, 67%, 0.1);
}
.memory{
    color: var(--orangey-yellow);
    font-weight: bold;
    background-color: hsl(39, 100%, 56%, .1);
}
.verbal{
    color: var(--green-teal);
    font-weight: bold;
    background-color: hsl(166, 100%, 37%, .1);
}
.visual{
    color: var(--cobalt-blue);
    font-weight: bold;
    background-color: hsl(234, 85%, 45%, .1);
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin-top: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 25px;
    background-color: var(--dark-gray-blue);
    color: var(--white);
    font-size: 1rem;
}
button:hover{
    background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
    cursor: pointer;
}
@media (max-width: 375px){
    body{
        background-color: white;
    }
    main{
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 0;
    }
    .left-side{
        width: 100%;
        border-radius: 0;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        padding-top: 1rem;
    }
    .left-side p{
        width: 60%;
        margin-bottom: 2rem;
    }
    .right-side{
        width: 100%;
        height: 100%;
        padding: 0;
    }
}
@media (max-width: 700px){
    body{
        background-color: white;
    }
    main{
        max-width: 375px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 0;
    }
    .left-side{
        width: 100%;
        border-radius: 0;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        padding-top: 1rem;
    }
    .left-side p{
        width: 60%;
        margin-bottom: 2rem;
    }
    .right-side{
        width: 100%;
        height: 100%;
        padding: 0;
    }
   
}
